obj_dir/
*.vcd
*.fst
*.log
*.tmp
*.bak
*~

sim/build/*
!sim/build/.gitkeep

synth/results/*
!synth/results/.gitkeep

sta/results/*
!sta/results/.gitkeep

openroad/logs/
openroad/objects/
openroad/results/
openroad/reports/

.DS_Store
.vscode/
